<footer>
  <div class="bg-gray-900">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="xl:col-span-1">
          <%= link_to root_path, class:"flex justify-center lg:hidden xl:flex" do %>
            <%= image_tag "tufd-logo-alt-inverted.svg", class: "w-1/2" %>
          <% end %>
          <p class="mt-8 text-gray-300 text-sm leading-6">
            Learn and share knowledge. Created by Manuel Diaz from WinT 3794. Developed using <%= link_to "Ruby on Rails", 'https://rubyonrails.org/', target:"_blank" %>, <%= link_to "VueJS", 'https://vuejs.org/', target:"_blank" %>, <%= link_to "Tailwind", 'https://tailwindcss.com/', target:"_blank" %>, <%= link_to "Icons8", 'https://icons8.com/', target:"_blank" %>, <%= link_to "FontAwesome", "https://fontawesome.com/", target:"_blank" %> and other open source projects.
          </p>
          <div class="mt-8 flex justify-center">
            <%= link_to 'https://www.facebook.com/WinT3794FRC', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">Facebook</span>
              <i class="fab fa-facebook fa-lg"></i>
            <% end %>

            <%= link_to 'https://twitter.com/WinT_frc3794', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">Twitter</span>
              <i class="fab fa-twitter fa-lg"></i>
            <% end %>

            <%= link_to 'https://www.instagram.com/wint.3794/', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">Instagram</span>
              <i class="fab fa-instagram fa-lg"></i>
            <% end %>

            <%= link_to 'https://github.com/WinT-3794', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">GitHub</span>
              <i class="fab fa-github fa-lg"></i>
            <% end %>
          </div>
        </div>
        <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Articles
              </h4>
              <ul class="mt-4">
                <li>
                  <%= link_to "Categories", categories_path, class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
                <li class="mt-4">
                  <%= link_to "Teams", "#", class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
                <li class="mt-4">
                  <%= link_to "Newest", "#", class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
                <li class="mt-4">
                  <%= link_to "Popular", "#", class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Support
              </h4>
              <ul class="mt-4">
                <li>
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/pricing">Pricing</a>
                </li>
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/testimonials">Testimonials</a>
                </li>
                <li class="mt-4">
                  <a href="https://gorails.uservoice.com/forums/259979-general" target="_blank" class="text-base leading-6 text-gray-300 hover:text-white">
                    Help Center
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Company
              </h4>
              <ul class="mt-4">
                <li>
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/about">About</a>
                </li>
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/blog">Blog</a>
                </li>
                <li class="mt-4">
                  <a target="_blank" class="text-base leading-6 text-gray-300 hover:text-white" href="https://remoteruby.transistor.fm/?utm_source=gorails&amp;utm_medium=homepage">Podcast</a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Legal
              </h4>
              <ul class="mt-4">
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/privacy">Privacy</a>
                </li>
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/terms">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 border-t border-gray-700 pt-8">
        <p class="text-base leading-6 text-gray-400 xl:text-center">
          © <%= Date.today.year %> WinT 3794. All rights reserved. Under MIT license.
        </p>
      </div>
    </div>
  </div>
</footer>