<footer>
  <div class="bg-gray-900">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="xl:col-span-1">
          <a href="/">
            <!--<svg class="h-6" version="1.1" viewBox="0 0 373 50" xmlns="http://www.w3.org/2000/svg">
              <title>logo</title>
              <desc>Created with Sketch.</desc>
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(0 -1)" fill="#D2D6DC" fill-rule="nonzero">
                  <g transform="translate(186.31 25.65) scale(-1 1) rotate(180) translate(-186.31 -24.75)">
                    <g transform="translate(72.75 1.125)">
                      <path d="m40.946 40.815l-8.686-8.5561c-2.0415 2.0089-4.7964 3.3379-8.6529 3.3379-6.4174 0-10.955-4.9262-10.955-12.024 0-8.2641 5.3481-12.38 11.149-12.38 5.7041 0 8.9775 2.2372 10.274 6.6758h-10.63v9.0112h22.556c0.19575-1.4272 0.26125-2.7886 0.26125-4.083 0-15.136-11.247-22.72-21.91-22.72-14.26 0-24.307 9.7236-24.307 23.496 0 13.807 10.046 23.531 24.307 23.531 7.1944 0 12.737-2.3662 16.594-6.2881"></path>
                      <path d="m61.645 23.573c0-6.935 4.5712-11.731 11.182-11.731 6.6125 0 11.181 4.796 11.181 11.731 0 6.937-4.5688 11.732-11.181 11.732-6.6112 0-11.182-4.7954-11.182-11.732zm35.166 0c0-13.546-9.9512-23.529-23.984-23.529-14.034 0-23.983 9.9829-23.983 23.529 0 13.547 9.949 23.531 23.983 23.531 14.032 0 23.984-9.9834 23.984-23.531"></path>
                      <path d="m125.97 35.21v-8.0704h7.7788c3.045 0 5.2825 1.2638 5.2825 4.0181 0 2.7559-2.2375 4.0522-5.2825 4.0522h-7.7788zm25.508-4.0522c0-7.0005-4.0525-12.023-11.734-13.611l12.348-16.659h-14.519l-10.922 16.107h-0.68v-16.107h-12.318v45.373h20.224c11.539 0 17.601-5.9634 17.601-15.103"></path>
                      <path d="m173.75 20.527h9.3012l-4.635 13.417-4.6662-13.417zm29.2-19.64h-13.062l-3.0125 8.6538h-16.951l-2.9812-8.6538h-12.868l17.178 45.373h14.52l17.178-45.373"></path>
                      <polygon points="205.69 0.88721 218.01 0.88721 218.01 46.26 205.69 46.26"></polygon>
                      <polyline points="258 0.88721 223.84 0.88721 223.84 46.26 236.15 46.26 236.15 12.23 258 12.23 258 0.88721"></polyline>
                      <path d="m293.94 32.226c-2.9825 1.6866-7.4862 3.7916-13.094 3.7916-3.305 0-5.8325-0.90675-5.8325-2.9482 0-2.5601 4.6338-2.8194 9.2688-3.7281l1.4588-0.2915c9.365-1.8149 14.13-6.3188 14.13-13.287 0-11.474-9.6912-15.72-19.348-15.72-8.1362 0-15.524 1.9453-20.71 5.6406l6.0275 10.046c3.5962-2.1719 7.9412-4.667 14.844-4.667 3.305 0 5.7362 0.90679 5.7362 3.144 0 2.3662-2.8188 2.7866-8.4575 3.7582l-1.7188 0.292c-10.438 1.7822-14.779 6.2881-14.552 14.326 0.22625 8.6845 7.5188 14.487 18.409 14.487 5.93 0 11.279-0.61662 19.154-4.7651l-5.315-10.079z"></path>
                    </g>
                    <polygon points="0 0 30.514 49.398 30.556 48.978 28.185 7.9766"></polygon>
                    <polygon points="61.027 0 30.514 49.398 30.514 48.809 34.695 7.9766"></polygon>
                  </g>
                </g>
              </g>
            </svg>-->
          </a>
          <p class="mt-8 text-gray-300 text-sm leading-6">
            Learn and share knowledge. Created by Manuel Diaz from WinT 3794. Developed using <%= link_to "Ruby on Rails", 'https://rubyonrails.org/', target:"_blank" %>, <%= link_to "VueJS", 'https://vuejs.org/', target:"_blank" %>, <%= link_to "Tailwind", 'https://tailwindcss.com/', target:"_blank" %>, <%= link_to "Icons8", 'https://icons8.com/', target:"_blank" %>, <%= link_to "FontAwesome", "https://fontawesome.com/", target:"_blank" %> and other open source projects.
          </p>
          <div class="mt-8 flex justify-center">
            <%= link_to 'https://www.facebook.com/WinT3794FRC', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">Facebook</span>
              <i class="fab fa-facebook fa-lg"></i>
            <% end %>

            <%= link_to 'https://twitter.com/WinT_frc3794', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">Twitter</span>
              <i class="fab fa-twitter fa-lg"></i>
            <% end %>

            <%= link_to 'https://www.instagram.com/wint.3794/', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">Instagram</span>
              <i class="fab fa-instagram fa-lg"></i>
            <% end %>

            <%= link_to 'https://github.com/WinT-3794', target:"_blank", class:"ml-6 text-gray-400 hover:text-gray-500" do %>
              <span class="sr-only">GitHub</span>
              <i class="fab fa-github fa-lg"></i>
            <% end %>
          </div>
        </div>
        <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Articles
              </h4>
              <ul class="mt-4">
                <li>
                  <%= link_to "Categories", categories_path, class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
                <li class="mt-4">
                  <%= link_to "Teams", "#", class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
                <li class="mt-4">
                  <%= link_to "Newest", "#", class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
                <li class="mt-4">
                  <%= link_to "Popular", "#", class:"text-base leading-6 text-gray-300 hover:text-white" %>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Support
              </h4>
              <ul class="mt-4">
                <li>
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/pricing">Pricing</a>
                </li>
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/testimonials">Testimonials</a>
                </li>
                <li class="mt-4">
                  <a href="https://gorails.uservoice.com/forums/259979-general" target="_blank" class="text-base leading-6 text-gray-300 hover:text-white">
                    Help Center
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Company
              </h4>
              <ul class="mt-4">
                <li>
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/about">About</a>
                </li>
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/blog">Blog</a>
                </li>
                <li class="mt-4">
                  <a target="_blank" class="text-base leading-6 text-gray-300 hover:text-white" href="https://remoteruby.transistor.fm/?utm_source=gorails&amp;utm_medium=homepage">Podcast</a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                Legal
              </h4>
              <ul class="mt-4">
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/privacy">Privacy</a>
                </li>
                <li class="mt-4">
                  <a class="text-base leading-6 text-gray-300 hover:text-white" href="/terms">Terms</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 border-t border-gray-700 pt-8">
        <p class="text-base leading-6 text-gray-400 xl:text-center">
          © <%= Date.today.year %> WinT 3794. All rights reserved. Under MIT license.
        </p>
      </div>
    </div>
  </div>
</footer>