<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="bg-gray-100">
    <% if notice %>
      <%= render "shared/notice" %>
    <% elsif alert %>
      <%= render "shared/alert" %>
    <% elsif local_variables.include?(:resource) %>
      <% if resource.errors.any? %>
        <%= render "shared/error", resource: resource %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
